# *Desarrollo notebook 3*

### Codificación de las variables categoricas, escalado y modelo

### **Importar librerías**

In [1]:
import pandas as pd 
import numpy as np
import sklearn
from sklearn.pipeline import Pipeline
from sklearn import metrics
import category_encoders as ce
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

import sys
sys.path.append('/Users/miguelflores/Desktop/P1/practica1')
from funciones import funciones_auxiliares as f_aux

from sklearn import metrics

seed = 42

### **Lectura de datos del preprocesado missing outlier**

In [2]:
s_train = pd.read_csv('.. /data/train_df_preprocessing_missing_outlier.csv').set_index("SK_ID_CURR")
s_test = pd.read_csv('... /dataV/test_df_preprocessing_missing_outlier.csv').set_index("SK_ID_CURR")

In [3]:
s_train.columns

Index(['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY',
       'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY',
       'AMT_GOODS_PRICE', 'NAME_TYPE_SUITE',
       ...
       'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR', 'NWEEKDAY_PROCESS_START', 'TARGET'],
      dtype='object', length=121)

## **Tipos de variables: Categoricas, Continuas y Booleanas**

#### En la siguiente sección se generará una categorización por tipo de variables como en los pasados cuadernos de trabajo, ya que estos son independientes entre sí. Significando que las variables y definicciones no se conservan de un cuaderno a otro. Dado que cada cuaderno es autónomo, se hace necesario redefinir las variables y realizar la categorización nuevamente en cada uno de ellos. 

#### Este enfoque resalta la importancia de contar con un cuaderno de funciones auxiliares que centralice las definiciones y procesos repetitivos, lo cual optimiza el trabajo, mejora la calidad del proyecto y garantiza que todos los aspectos sean claros, organizados y fácilmente reutilizables.

In [4]:
f_aux.c_y_t_variables_t(s_train)

Variables Booleanas: 36 ['FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'FLAG_MOBIL', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE', 'FLAG_PHONE', 'FLAG_EMAIL', 'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION', 'LIVE_REGION_NOT_WORK_REGION', 'REG_CITY_NOT_LIVE_CITY', 'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY', 'EMERGENCYSTATE_MODE', 'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9', 'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21', 'TARGET']
============================================================================================================================================================================
Variables Categóricas: 16 ['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'OCCUPATION_TYPE', 'REGION_RATING_CLIENT', 'REGION_RATING_CLIENT_W_CITY', 'ORGANIZATION_TYPE', 'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE', 'WALLSMATERIAL_MODE', 'CNT_CHILDREN', 'NWEEKDAY_PROCESS_START']
============================================================================================================================================================================
Variables Continuas: 69 ['AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE', 'REGION_POPULATION_RELATIVE', 'DAYS_BIRTH', 'DAYS_EMPLOYED', 'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH', 'OWN_CAR_AGE', 'CNT_FAM_MEMBERS', 'HOUR_APPR_PROCESS_START', 'EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3', 'APARTMENTS_AVG', 'BASEMENTAREA_AVG', 'YEARS_BEGINEXPLUATATION_AVG', 'YEARS_BUILD_AVG', 'COMMONAREA_AVG', 'ELEVATORS_AVG', 'ENTRANCES_AVG', 'FLOORSMAX_AVG', 'FLOORSMIN_AVG', 'LANDAREA_AVG', 'LIVINGAPARTMENTS_AVG', 'LIVINGAREA_AVG', 'NONLIVINGAPARTMENTS_AVG', 'NONLIVINGAREA_AVG', 'APARTMENTS_MODE', 'BASEMENTAREA_MODE', 'YEARS_BEGINEXPLUATATION_MODE', 'YEARS_BUILD_MODE', 'COMMONAREA_MODE', 'ELEVATORS_MODE', 'ENTRANCES_MODE', 'FLOORSMAX_MODE', 'FLOORSMIN_MODE', 'LANDAREA_MODE', 'LIVINGAPARTMENTS_MODE', 'LIVINGAREA_MODE', 'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAREA_MODE', 'APARTMENTS_MEDI', 'BASEMENTAREA_MEDI', 'YEARS_BEGINEXPLUATATION_MEDI', 'YEARS_BUILD_MEDI', 'COMMONAREA_MEDI', 'ELEVATORS_MEDI', 'ENTRANCES_MEDI', 'FLOORSMAX_MEDI', 'FLOORSMIN_MEDI', 'LANDAREA_MEDI', 'LIVINGAPARTMENTS_MEDI', 'LIVINGAREA_MEDI', 'NONLIVINGAPARTMENTS_MEDI', 'NONLIVINGAREA_MEDI', 'TOTALAREA_MODE', 'OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE', 'DAYS_LAST_PHONE_CHANGE', 'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR']
============================================================================================================================================================================
Variables no clasificadas: 0 []

,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,...,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,NWEEKDAY_PROCESS_START,TARGET
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
310536,Cash loans,F,N,N,2,90000.0,227520.0,13189.5,180000.0,Unaccompanied,...,0,0,0.0,0.0,0.0,0.0,1.0,1.0,3,0
365516,Cash loans,M,Y,Y,0,90000.0,161730.0,13095.0,135000.0,Unaccompanied,...,0,0,0.0,0.0,0.0,0.0,0.0,1.0,2,0
242055,Cash loans,M,N,Y,0,135000.0,728847.0,26307.0,553500.0,"Spouse, partner",...,0,0,0.0,0.0,2.0,0.0,0.0,2.0,2,1
454894,Cash loans,M,N,N,0,135000.0,474183.0,34636.5,391500.0,Unaccompanied,...,0,0,0.0,0.0,0.0,0.0,0.0,4.0,2,1
448321,Cash loans,F,N,Y,0,180000.0,254700.0,27558.0,225000.0,Unaccompanied,...,0,0,0.0,0.0,0.0,0.0,0.0,1.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136325,Revolving loans,F,N,Y,1,135000.0,405000.0,20250.0,405000.0,Unaccompanied,...,0,0,0.0,0.0,0.0,0.0,0.0,1.0,1,0
240509,Cash loans,F,N,N,0,157500.0,272520.0,21528.0,225000.0,Unaccompanied,...,0,0,0.0,0.0,0.0,0.0,1.0,4.0,1,0
387513,Cash loans,F,N,N,0,90000.0,246357.0,24493.5,234000.0,Unaccompanied,...,0,0,0.0,0.0,0.0,0.0,0.0,1.0,7,0
303331,Cash loans,F,N,Y,0,112500.0,810000.0,26901.0,810000.0,Children,...,0,0,0.0,0.0,0.0,0.0,0.0,5.0,3,1
430259,Cash loans,F,Y,Y,0,126000.0,1051245.0,27859.5,877500.0,Family,...,0,0,0.0,0.0,0.0,1.0,0.0,3.0,5,0

In [5]:
f_aux.c_y_t_variables_tt(s_test)

Variables Booleanas: 36 ['FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE', 'FLAG_PHONE', 'FLAG_EMAIL', 'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION', 'LIVE_REGION_NOT_WORK_REGION', 'REG_CITY_NOT_LIVE_CITY', 'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY', 'EMERGENCYSTATE_MODE', 'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9', 'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21', 'TARGET', 'FLAG_MOBIL']
============================================================================================================================================================================
Variables Categóricas: 16 ['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'OCCUPATION_TYPE', 'REGION_RATING_CLIENT', 'REGION_RATING_CLIENT_W_CITY', 'ORGANIZATION_TYPE', 'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE', 'WALLSMATERIAL_MODE', 'CNT_CHILDREN', 'NWEEKDAY_PROCESS_START']
============================================================================================================================================================================
Variables Continuas: 69 ['AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE', 'REGION_POPULATION_RELATIVE', 'DAYS_BIRTH', 'DAYS_EMPLOYED', 'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH', 'OWN_CAR_AGE', 'CNT_FAM_MEMBERS', 'HOUR_APPR_PROCESS_START', 'EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3', 'APARTMENTS_AVG', 'BASEMENTAREA_AVG', 'YEARS_BEGINEXPLUATATION_AVG', 'YEARS_BUILD_AVG', 'COMMONAREA_AVG', 'ELEVATORS_AVG', 'ENTRANCES_AVG', 'FLOORSMAX_AVG', 'FLOORSMIN_AVG', 'LANDAREA_AVG', 'LIVINGAPARTMENTS_AVG', 'LIVINGAREA_AVG', 'NONLIVINGAPARTMENTS_AVG', 'NONLIVINGAREA_AVG', 'APARTMENTS_MODE', 'BASEMENTAREA_MODE', 'YEARS_BEGINEXPLUATATION_MODE', 'YEARS_BUILD_MODE', 'COMMONAREA_MODE', 'ELEVATORS_MODE', 'ENTRANCES_MODE', 'FLOORSMAX_MODE', 'FLOORSMIN_MODE', 'LANDAREA_MODE', 'LIVINGAPARTMENTS_MODE', 'LIVINGAREA_MODE', 'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAREA_MODE', 'APARTMENTS_MEDI', 'BASEMENTAREA_MEDI', 'YEARS_BEGINEXPLUATATION_MEDI', 'YEARS_BUILD_MEDI', 'COMMONAREA_MEDI', 'ELEVATORS_MEDI', 'ENTRANCES_MEDI', 'FLOORSMAX_MEDI', 'FLOORSMIN_MEDI', 'LANDAREA_MEDI', 'LIVINGAPARTMENTS_MEDI', 'LIVINGAREA_MEDI', 'NONLIVINGAPARTMENTS_MEDI', 'NONLIVINGAREA_MEDI', 'TOTALAREA_MODE', 'OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE', 'DAYS_LAST_PHONE_CHANGE', 'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR']
============================================================================================================================================================================
Variables no clasificadas: 0 []

,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,...,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,NWEEKDAY_PROCESS_START,TARGET
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
396899,Cash loans,M,Y,Y,1,157500.0,770292.0,30676.5,688500.0,Family,...,0,0,0.0,0.0,0.0,0.0,1.0,2.0,1,0
322041,Cash loans,F,N,N,0,90000.0,364896.0,19926.0,315000.0,Family,...,0,0,0.0,0.0,0.0,1.0,0.0,6.0,4,0
220127,Cash loans,M,N,Y,0,148500.0,284400.0,18643.5,225000.0,Unaccompanied,...,0,0,0.0,0.0,0.0,0.0,0.0,3.0,4,0
251531,Cash loans,F,N,N,0,188100.0,976711.5,38218.5,873000.0,Unaccompanied,...,0,0,0.0,0.0,0.0,0.0,0.0,1.0,4,0
345558,Cash loans,F,N,Y,0,180000.0,323194.5,19660.5,279000.0,Unaccompanied,...,0,0,0.0,2.0,0.0,0.0,0.0,1.0,6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118908,Cash loans,F,N,Y,0,162000.0,834048.0,27693.0,720000.0,Unaccompanied,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,3,0
441326,Cash loans,M,Y,Y,0,180000.0,1305000.0,38155.5,1305000.0,Family,...,0,0,0.0,0.0,0.0,1.0,1.0,1.0,6,0
371501,Cash loans,F,Y,Y,1,360000.0,239850.0,27058.5,225000.0,Unaccompanied,...,0,0,0.0,0.0,0.0,0.0,0.0,1.0,6,0
272785,Cash loans,M,Y,Y,0,337500.0,900000.0,45954.0,900000.0,Unaccompanied,...,0,0,0.0,0.0,0.0,0.0,0.0,2.0,5,1
411571,Cash loans,M,Y,Y,1,225000.0,260640.0,28197.0,225000.0,Family,...,0,0,0.0,0.0,0.0,0.0,1.0,1.0,4,0

## **Codificación de la variable objetivo**

#####   1 - Cliente con dificultades de pago: Pago atrasado de más de X días en al menos una de las primeras Y cuotas del préstamo
#####   0 - Cliente sin dificultades de pago

In [6]:
s_train['TARGET'].value_counts()

TARGET
0    226148
1     19860
Name: count, dtype: int64

In [7]:
X_train = s_train.drop('TARGET',axis=1)
X_test = s_test.drop('TARGET',axis=1)
y_train = s_train['TARGET']
y_test = s_test['TARGET']

##### En la anterior línea de código, se separa el conjunto de datos en características (X) y variable objetivo (y), tanto en el entrenamiento como en la prueba, con el propósito de preparar los datos para la generación de un modelo de aprendizaje automático. A continuación se corrobora la eliminación de la variable objetivo, al presentar una variable menos en el número de filas.

In [8]:
X_train.head()

,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,...,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,NWEEKDAY_PROCESS_START
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
310536,Cash loans,F,N,N,2,90000.0,227520.0,13189.5,180000.0,Unaccompanied,...,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0,3
365516,Cash loans,M,Y,Y,0,90000.0,161730.0,13095.0,135000.0,Unaccompanied,...,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,2
242055,Cash loans,M,N,Y,0,135000.0,728847.0,26307.0,553500.0,"Spouse, partner",...,0,0,0,0.0,0.0,2.0,0.0,0.0,2.0,2
454894,Cash loans,M,N,N,0,135000.0,474183.0,34636.5,391500.0,Unaccompanied,...,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0,2
448321,Cash loans,F,N,Y,0,180000.0,254700.0,27558.0,225000.0,Unaccompanied,...,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,1

## **Codificación del resto de variables categoricas**

#### En esta sección se genera una división por el tipo de variable previamente establecido, categóricas y no categóricas (booleanas y continuas), para posteriormente generar un bucle que proporcione información acerca de las variables categóricas.

In [9]:
lista_col_cat = list(X_train.select_dtypes('category').columns)
lista_col_oth = list(set(X_train.columns).difference(lista_col_cat))

In [10]:
for variable in lista_col_cat:
    valores_unicos = s_train[variable].unique()
    cantidad = len(valores_unicos)
    print('Variable: ', variable)
    print('Valores únicos: ', cantidad)
    print('Valores: ', valores_unicos)

Variable:  NAME_CONTRACT_TYPE
Valores únicos:  2
Valores:  ['Cash loans', 'Revolving loans']
Categories (2, object): ['Cash loans', 'Revolving loans']
Variable:  CODE_GENDER
Valores únicos:  3
Valores:  ['F', 'M', 'SIN VALOR']
Categories (3, object): ['F', 'M', 'SIN VALOR']
Variable:  CNT_CHILDREN
Valores únicos:  15
Valores:  [2, 0, 1, 3, 4, ..., 7, 11, 12, 9, 19]
Length: 15
Categories (15, int64): [0, 1, 2, 3, ..., 11, 12, 14, 19]
Variable:  NAME_TYPE_SUITE
Valores únicos:  8
Valores:  ['Unaccompanied', 'Spouse, partner', 'Family', 'Other_B', 'SIN VALOR', 'Children', 'Group of people', 'Other_A']
Categories (8, object): ['Children', 'Family', 'Group of people', 'Other_A', 'Other_B', 'SIN VALOR', 'Spouse, partner', 'Unaccompanied']
Variable:  NAME_INCOME_TYPE
Valores únicos:  8
Valores:  ['Commercial associate', 'Working', 'Pensioner', 'State servant', 'Businessman', 'Unemployed', 'Student', 'Maternity leave']
Categories (8, object): ['Businessman', 'Commercial associate', 'Maternity leave', 'Pensioner', 'State servant', 'Student', 'Unemployed', 'Working']
Variable:  NAME_EDUCATION_TYPE
Valores únicos:  5
Valores:  ['Higher education', 'Secondary / secondary special', 'Incomplete higher', 'Lower secondary', 'Academic degree']
Categories (5, object): ['Academic degree', 'Higher education', 'Incomplete higher', 'Lower secondary', 'Secondary / secondary special']
Variable:  NAME_FAMILY_STATUS
Valores únicos:  6
Valores:  ['Married', 'Single / not married', 'Civil marriage', 'Separated', 'Widow', 'Unknown']
Categories (6, object): ['Civil marriage', 'Married', 'Separated', 'Single / not married', 'Unknown', 'Widow']
Variable:  NAME_HOUSING_TYPE
Valores únicos:  6
Valores:  ['House / apartment', 'Municipal apartment', 'With parents', 'Rented apartment', 'Co-op apartment', 'Office apartment']
Categories (6, object): ['Co-op apartment', 'House / apartment', 'Municipal apartment', 'Office apartment', 'Rented apartment', 'With parents']
Variable:  OCCUPATION_TYPE
Valores únicos:  19
Valores:  ['Laborers', 'Drivers', 'Accountants', 'SIN VALOR', 'Sales staff', ..., 'IT staff', 'Realty agents', 'HR staff', 'Secretaries', 'Cleaning staff']
Length: 19
Categories (19, object): ['Accountants', 'Cleaning staff', 'Cooking staff', 'Core staff', ..., 'Sales staff', 'Secretaries', 'Security staff', 'Waiters/barmen staff']
Variable:  REGION_RATING_CLIENT
Valores únicos:  3
Valores:  [2, 3, 1]
Categories (3, int64): [1, 2, 3]
Variable:  REGION_RATING_CLIENT_W_CITY
Valores únicos:  3
Valores:  [2, 3, 1]
Categories (3, int64): [1, 2, 3]
Variable:  ORGANIZATION_TYPE
Valores únicos:  58
Valores:  ['Business Entity Type 2', 'Other', 'Business Entity Type 3', 'Restaurant', 'SIN VALOR', ..., 'Transport: type 1', 'Religion', 'Industry: type 13', 'Trade: type 5', 'Industry: type 8']
Length: 58
Categories (58, object): ['Advertising', 'Agriculture', 'Bank', 'Business Entity Type 1', ..., 'Transport: type 2', 'Transport: type 3', 'Transport: type 4', 'University']
Variable:  FONDKAPREMONT_MODE
Valores únicos:  5
Valores:  ['reg oper account', 'SIN VALOR', 'reg oper spec account', 'org spec account', 'not specified']
Categories (5, object): ['SIN VALOR', 'not specified', 'org spec account', 'reg oper account', 'reg oper spec account']
Variable:  HOUSETYPE_MODE
Valores únicos:  4
Valores:  ['block of flats', 'SIN VALOR', 'specific housing', 'terraced house']
Categories (4, object): ['SIN VALOR', 'block of flats', 'specific housing', 'terraced house']
Variable:  WALLSMATERIAL_MODE
Valores únicos:  8
Valores:  ['Panel', 'SIN VALOR', 'Block', 'Stone, brick', 'Mixed', 'Others', 'Wooden', 'Monolithic']
Categories (8, object): ['Block', 'Mixed', 'Monolithic', 'Others', 'Panel', 'SIN VALOR', 'Stone, brick', 'Wooden']
Variable:  NWEEKDAY_PROCESS_START
Valores únicos:  7
Valores:  [3, 2, 1, 4, 5, 6, 7]
Categories (7, int64): [1, 2, 3, 4, 5, 6, 7]

#### Con base en la información anterior, desde un principio con las variables que presentan una gran cantidad de valores únicos, podemos establecer que en estas se realizará una codificación **Target Encoding**. De igual manera existen variables nominales y ordinales, donde las nominales no tienen un orden específico entre sus categorías en comparación con las ordinales. En este caso a las variables nominales se les aplicará **One-Hot Encoding** y a las ordinales **Ordinal Encoding**.

#### Al visualizar la existencia de variables con elementos jerarquizables, se establece la siguiente lista de variables ordinales con sus respectivos ordenes, para posteriormente aplicar una función que genera la listas para cada tipo de codificación.

In [11]:
ordinal_orders = { 'CNT_CHILDREN': list(range(0,20)),
                  'NAME_EDUCATION_TYPE': ['Lower secondary', 'Secondary / secondary special', 'Incomplete higher', 
                                          'Higher education', 'Academic degree'],
                  'REGION_RATING_CLIENT': [1,2,3],
                  'REGION_RATING_CLIENT_W_CITY': [1,2,3],
                  'NWEEKDAY_PROCESS_START': [1,2,3,4,5,6,7]
}

In [12]:
f_aux.tipo_encoding(X_train, lista_col_cat, ordinal_orders)

Variables (Nominales) - One-Hot Encoding:
NAME_CONTRACT_TYPE, CODE_GENDER, NAME_TYPE_SUITE
NAME_INCOME_TYPE, NAME_FAMILY_STATUS, NAME_HOUSING_TYPE
FONDKAPREMONT_MODE, HOUSETYPE_MODE, WALLSMATERIAL_MODE

Variables (Ordinales) - Ordinal Encoding:
CNT_CHILDREN, NAME_EDUCATION_TYPE, REGION_RATING_CLIENT
REGION_RATING_CLIENT_W_CITY, NWEEKDAY_PROCESS_START

Variables (Alto volumen) - Target Encoding:
OCCUPATION_TYPE, ORGANIZATION_TYPE

(['NAME_CONTRACT_TYPE',
  'CODE_GENDER',
  'NAME_TYPE_SUITE',
  'NAME_INCOME_TYPE',
  'NAME_FAMILY_STATUS',
  'NAME_HOUSING_TYPE',
  'FONDKAPREMONT_MODE',
  'HOUSETYPE_MODE',
  'WALLSMATERIAL_MODE'],
 ['CNT_CHILDREN',
  'NAME_EDUCATION_TYPE',
  'REGION_RATING_CLIENT',
  'REGION_RATING_CLIENT_W_CITY',
  'NWEEKDAY_PROCESS_START'],
 ['OCCUPATION_TYPE', 'ORGANIZATION_TYPE'])

In [13]:
ohe, ordinal, targ = f_aux.tipo_encoding(X_train, lista_col_cat, ordinal_orders)

Variables (Nominales) - One-Hot Encoding:
NAME_CONTRACT_TYPE, CODE_GENDER, NAME_TYPE_SUITE
NAME_INCOME_TYPE, NAME_FAMILY_STATUS, NAME_HOUSING_TYPE
FONDKAPREMONT_MODE, HOUSETYPE_MODE, WALLSMATERIAL_MODE

Variables (Ordinales) - Ordinal Encoding:
CNT_CHILDREN, NAME_EDUCATION_TYPE, REGION_RATING_CLIENT
REGION_RATING_CLIENT_W_CITY, NWEEKDAY_PROCESS_START

Variables (Alto volumen) - Target Encoding:
OCCUPATION_TYPE, ORGANIZATION_TYPE

### **Métodos de codificación**

In [14]:
# One-Hot Encoding 
ohe = ce.OneHotEncoder(cols = ohe, use_cat_names = True) # Genera el nombre de la variable con la categoria
X_train_ohe = ohe.fit_transform(X_train)
X_test_ohe = ohe.transform(X_test)

# Ordinal Encoding
ordinal_encoder = OrdinalEncoder(categories = [ordinal_orders[col] for col in ordinal])
X_train_ohe[ordinal] = ordinal_encoder.fit_transform(X_train_ohe[ordinal])
X_test_ohe[ordinal] = ordinal_encoder.transform(X_test_ohe[ordinal])

ordinal_to_adjust = [col for col in ordinal if col != 'CNT_CHILDREN']
X_train_ohe[ordinal_to_adjust] = X_train_ohe[ordinal_to_adjust] + 1
X_test_ohe[ordinal_to_adjust] = X_test_ohe[ordinal_to_adjust] + 1

# Target Encoding
for col in targ:
    # Calculamos la media del target para cada categoría en los datos originales (s_train)
    # Usamos s_train, debido a que en esta dataframe esta contenida la variable objetivo 'TARGET'
    target_mean = s_train.groupby(col)['TARGET'].mean()
    
    # Aplicar la media calculada a las columnas de X_train_ohe y X_test_ohe
    X_train_ohe[col + '_encoded'] = X_train_ohe[col].map(target_mean)  # Crear nuevas columnas con '_encoded'
    X_test_ohe[col + '_encoded'] = X_test_ohe[col].map(target_mean)  # Aplica la misma transformación a X_test

    # Asegurando que las columnas codificadas sean float64
    X_train_ohe[col + '_encoded'] = X_train_ohe[col + '_encoded'].astype('float64')
    X_test_ohe[col + '_encoded'] = X_test_ohe[col + '_encoded'].astype('float64')

    # Eliminamos la columna anterior de donde se obtuvieron los datos
    if col in X_train_ohe.columns:
        X_train_ohe.drop(columns=[col], inplace=True)
    if col in X_test_ohe.columns:
        X_test_ohe.drop(columns=[col], inplace=True)

# Mostrar el resultado para verificar
print("Cantidad de columnas en X_train_ohe:", X_train_ohe.shape[1])
print("Cantidad de columnas en X_test_ohe:", X_test_ohe.shape[1])

# Ver las primeras filas de las columnas de X_train_ohe
print(X_train_ohe.head())

/var/folders/bj/jtm72vws3zncs7grnzmn95yh0000gn/T/ipykernel_50261/673108253.py:19: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  target_mean = s_train.groupby(col)['TARGET'].mean()
/var/folders/bj/jtm72vws3zncs7grnzmn95yh0000gn/T/ipykernel_50261/673108253.py:19: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  target_mean = s_train.groupby(col)['TARGET'].mean()

Cantidad de columnas en X_train_ohe: 161
Cantidad de columnas en X_test_ohe: 161
            NAME_CONTRACT_TYPE_Cash loans  NAME_CONTRACT_TYPE_Revolving loans  \
SK_ID_CURR
310536                                  1                                   0
365516                                  1                                   0
242055                                  1                                   0
454894                                  1                                   0
448321                                  1                                   0

            CODE_GENDER_F  CODE_GENDER_M  CODE_GENDER_SIN VALOR FLAG_OWN_CAR  \
SK_ID_CURR
310536                  1              0                      0            N
365516                  0              1                      0            Y
242055                  0              1                      0            N
454894                  0              1                      0            N
448321                  1              0                      0            N

           FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  ...  \
SK_ID_CURR                                                              ...
310536                   N           2.0           90000.0    227520.0  ...
365516                   Y           0.0           90000.0    161730.0  ...
242055                   Y           0.0          135000.0    728847.0  ...
454894                   N           0.0          135000.0    474183.0  ...
448321                   Y           0.0          180000.0    254700.0  ...

            FLAG_DOCUMENT_21  AMT_REQ_CREDIT_BUREAU_HOUR  \
SK_ID_CURR
310536                     0                         0.0
365516                     0                         0.0
242055                     0                         0.0
454894                     0                         0.0
448321                     0                         0.0

            AMT_REQ_CREDIT_BUREAU_DAY  AMT_REQ_CREDIT_BUREAU_WEEK  \
SK_ID_CURR
310536                            0.0                         0.0
365516                            0.0                         0.0
242055                            0.0                         2.0
454894                            0.0                         0.0
448321                            0.0                         0.0

            AMT_REQ_CREDIT_BUREAU_MON  AMT_REQ_CREDIT_BUREAU_QRT  \
SK_ID_CURR
310536                            0.0                        1.0
365516                            0.0                        0.0
242055                            0.0                        0.0
454894                            0.0                        0.0
448321                            0.0                        0.0

            AMT_REQ_CREDIT_BUREAU_YEAR  NWEEKDAY_PROCESS_START  \
SK_ID_CURR
310536                             1.0                     3.0
365516                             1.0                     2.0
242055                             2.0                     2.0
454894                             4.0                     2.0
448321                             1.0                     1.0

            OCCUPATION_TYPE_encoded  ORGANIZATION_TYPE_encoded
SK_ID_CURR
310536                     0.105222                   0.086348
365516                     0.112620                   0.074923
242055                     0.105222                   0.092733
454894                     0.105222                   0.092733
448321                     0.046308                   0.116505

[5 rows x 161 columns]

#### En la codificación de variables ordinales, se suma 1 a los resultantes de estas columnas tanto en el conjunto de entrenamiento como en el de prueba, para asegurar que los valores sigan el esquema establecido, donde los valores ordinales comienzan en 1 en lugar de 0. Este ajuste es necesario por que Python, por defecto, asigna índices que empiezan en 0, lo que desalinearía los datos con el esquema definido. Este ajuste no fue realizado en **CNT_CHILDREN**, debido a que al realizar la adición, ya no se representaría directamente la cantidad de hijos. 

#### Otro aspecto relevante a denotar en la codificación de las variables es que el *fit* solo se realiza en los datos de entrenamiento para que el codificador aprenda las categorías presentes en ellos. Luego, *transform* se usa en los datos de prueba para aplicar la misma codificación sin aprender nuevas categorías, asegurando que las columnas presenten la misma estructura en ambos conjuntos (entrenamiento y prueba).

### **Rectificamos la encodificación**

In [15]:
X_train_ohe.dtypes.to_dict()

{'NAME_CONTRACT_TYPE_Cash loans': dtype('int64'),
 'NAME_CONTRACT_TYPE_Revolving loans': dtype('int64'),
 'CODE_GENDER_F': dtype('int64'),
 'CODE_GENDER_M': dtype('int64'),
 'CODE_GENDER_SIN VALOR': dtype('int64'),
 'FLAG_OWN_CAR': dtype('O'),
 'FLAG_OWN_REALTY': dtype('O'),
 'CNT_CHILDREN': dtype('float64'),
 'AMT_INCOME_TOTAL': dtype('float64'),
 'AMT_CREDIT': dtype('float64'),
 'AMT_ANNUITY': dtype('float64'),
 'AMT_GOODS_PRICE': dtype('float64'),
 'NAME_TYPE_SUITE_Unaccompanied': dtype('int64'),
 'NAME_TYPE_SUITE_Spouse, partner': dtype('int64'),
 'NAME_TYPE_SUITE_Family': dtype('int64'),
 'NAME_TYPE_SUITE_Other_B': dtype('int64'),
 'NAME_TYPE_SUITE_SIN VALOR': dtype('int64'),
 'NAME_TYPE_SUITE_Children': dtype('int64'),
 'NAME_TYPE_SUITE_Group of people': dtype('int64'),
 'NAME_TYPE_SUITE_Other_A': dtype('int64'),
 'NAME_INCOME_TYPE_Commercial associate': dtype('int64'),
 'NAME_INCOME_TYPE_Working': dtype('int64'),
 'NAME_INCOME_TYPE_Pensioner': dtype('int64'),
 'NAME_INCOME_TYPE_State servant': dtype('int64'),
 'NAME_INCOME_TYPE_Businessman': dtype('int64'),
 'NAME_INCOME_TYPE_Unemployed': dtype('int64'),
 'NAME_INCOME_TYPE_Student': dtype('int64'),
 'NAME_INCOME_TYPE_Maternity leave': dtype('int64'),
 'NAME_EDUCATION_TYPE': dtype('float64'),
 'NAME_FAMILY_STATUS_Married': dtype('int64'),
 'NAME_FAMILY_STATUS_Single / not married': dtype('int64'),
 'NAME_FAMILY_STATUS_Civil marriage': dtype('int64'),
 'NAME_FAMILY_STATUS_Separated': dtype('int64'),
 'NAME_FAMILY_STATUS_Widow': dtype('int64'),
 'NAME_FAMILY_STATUS_Unknown': dtype('int64'),
 'NAME_HOUSING_TYPE_House / apartment': dtype('int64'),
 'NAME_HOUSING_TYPE_Municipal apartment': dtype('int64'),
 'NAME_HOUSING_TYPE_With parents': dtype('int64'),
 'NAME_HOUSING_TYPE_Rented apartment': dtype('int64'),
 'NAME_HOUSING_TYPE_Co-op apartment': dtype('int64'),
 'NAME_HOUSING_TYPE_Office apartment': dtype('int64'),
 'REGION_POPULATION_RELATIVE': dtype('float64'),
 'DAYS_BIRTH': dtype('float64'),
 'DAYS_EMPLOYED': dtype('float64'),
 'DAYS_REGISTRATION': dtype('float64'),
 'DAYS_ID_PUBLISH': dtype('float64'),
 'OWN_CAR_AGE': dtype('float64'),
 'FLAG_MOBIL': dtype('int64'),
 'FLAG_EMP_PHONE': dtype('int64'),
 'FLAG_WORK_PHONE': dtype('int64'),
 'FLAG_CONT_MOBILE': dtype('int64'),
 'FLAG_PHONE': dtype('int64'),
 'FLAG_EMAIL': dtype('int64'),
 'CNT_FAM_MEMBERS': dtype('float64'),
 'REGION_RATING_CLIENT': dtype('float64'),
 'REGION_RATING_CLIENT_W_CITY': dtype('float64'),
 'HOUR_APPR_PROCESS_START': dtype('float64'),
 'REG_REGION_NOT_LIVE_REGION': dtype('int64'),
 'REG_REGION_NOT_WORK_REGION': dtype('int64'),
 'LIVE_REGION_NOT_WORK_REGION': dtype('int64'),
 'REG_CITY_NOT_LIVE_CITY': dtype('int64'),
 'REG_CITY_NOT_WORK_CITY': dtype('int64'),
 'LIVE_CITY_NOT_WORK_CITY': dtype('int64'),
 'EXT_SOURCE_1': dtype('float64'),
 'EXT_SOURCE_2': dtype('float64'),
 'EXT_SOURCE_3': dtype('float64'),
 'APARTMENTS_AVG': dtype('float64'),
 'BASEMENTAREA_AVG': dtype('float64'),
 'YEARS_BEGINEXPLUATATION_AVG': dtype('float64'),
 'YEARS_BUILD_AVG': dtype('float64'),
 'COMMONAREA_AVG': dtype('float64'),
 'ELEVATORS_AVG': dtype('float64'),
 'ENTRANCES_AVG': dtype('float64'),
 'FLOORSMAX_AVG': dtype('float64'),
 'FLOORSMIN_AVG': dtype('float64'),
 'LANDAREA_AVG': dtype('float64'),
 'LIVINGAPARTMENTS_AVG': dtype('float64'),
 'LIVINGAREA_AVG': dtype('float64'),
 'NONLIVINGAPARTMENTS_AVG': dtype('float64'),
 'NONLIVINGAREA_AVG': dtype('float64'),
 'APARTMENTS_MODE': dtype('float64'),
 'BASEMENTAREA_MODE': dtype('float64'),
 'YEARS_BEGINEXPLUATATION_MODE': dtype('float64'),
 'YEARS_BUILD_MODE': dtype('float64'),
 'COMMONAREA_MODE': dtype('float64'),
 'ELEVATORS_MODE': dtype('float64'),
 'ENTRANCES_MODE': dtype('float64'),
 'FLOORSMAX_MODE': dtype('float64'),
 'FLOORSMIN_MODE': dtype('float64'),
 'LANDAREA_MODE': dtype('float64'),
 'LIVINGAPARTMENTS_MODE': dtype('float64'),
 'LIVINGAREA_MODE': dtype('float64'),
 'NONLIVINGAPARTMENTS_MODE': dtype('float64'),
 'NONLIVINGAREA_MODE': dtype('float64'),
 'APARTMENTS_MEDI': dtype('float64'),
 'BASEMENTAREA_MEDI': dtype('float64'),
 'YEARS_BEGINEXPLUATATION_MEDI': dtype('float64'),
 'YEARS_BUILD_MEDI': dtype('float64'),
 'COMMONAREA_MEDI': dtype('float64'),
 'ELEVATORS_MEDI': dtype('float64'),
 'ENTRANCES_MEDI': dtype('float64'),
 'FLOORSMAX_MEDI': dtype('float64'),
 'FLOORSMIN_MEDI': dtype('float64'),
 'LANDAREA_MEDI': dtype('float64'),
 'LIVINGAPARTMENTS_MEDI': dtype('float64'),
 'LIVINGAREA_MEDI': dtype('float64'),
 'NONLIVINGAPARTMENTS_MEDI': dtype('float64'),
 'NONLIVINGAREA_MEDI': dtype('float64'),
 'FONDKAPREMONT_MODE_reg oper account': dtype('int64'),
 'FONDKAPREMONT_MODE_SIN VALOR': dtype('int64'),
 'FONDKAPREMONT_MODE_reg oper spec account': dtype('int64'),
 'FONDKAPREMONT_MODE_org spec account': dtype('int64'),
 'FONDKAPREMONT_MODE_not specified': dtype('int64'),
 'HOUSETYPE_MODE_block of flats': dtype('int64'),
 'HOUSETYPE_MODE_SIN VALOR': dtype('int64'),
 'HOUSETYPE_MODE_specific housing': dtype('int64'),
 'HOUSETYPE_MODE_terraced house': dtype('int64'),
 'TOTALAREA_MODE': dtype('float64'),
 'WALLSMATERIAL_MODE_Panel': dtype('int64'),
 'WALLSMATERIAL_MODE_SIN VALOR': dtype('int64'),
 'WALLSMATERIAL_MODE_Block': dtype('int64'),
 'WALLSMATERIAL_MODE_Stone, brick': dtype('int64'),
 'WALLSMATERIAL_MODE_Mixed': dtype('int64'),
 'WALLSMATERIAL_MODE_Others': dtype('int64'),
 'WALLSMATERIAL_MODE_Wooden': dtype('int64'),
 'WALLSMATERIAL_MODE_Monolithic': dtype('int64'),
 'EMERGENCYSTATE_MODE': dtype('int64'),
 'OBS_30_CNT_SOCIAL_CIRCLE': dtype('float64'),
 'DEF_30_CNT_SOCIAL_CIRCLE': dtype('float64'),
 'OBS_60_CNT_SOCIAL_CIRCLE': dtype('float64'),
 'DEF_60_CNT_SOCIAL_CIRCLE': dtype('float64'),
 'DAYS_LAST_PHONE_CHANGE': dtype('float64'),
 'FLAG_DOCUMENT_2': dtype('int64'),
 'FLAG_DOCUMENT_3': dtype('int64'),
 'FLAG_DOCUMENT_4': dtype('int64'),
 'FLAG_DOCUMENT_5': dtype('int64'),
 'FLAG_DOCUMENT_6': dtype('int64'),
 'FLAG_DOCUMENT_7': dtype('int64'),
 'FLAG_DOCUMENT_8': dtype('int64'),
 'FLAG_DOCUMENT_9': dtype('int64'),
 'FLAG_DOCUMENT_10': dtype('int64'),
 'FLAG_DOCUMENT_11': dtype('int64'),
 'FLAG_DOCUMENT_12': dtype('int64'),
 'FLAG_DOCUMENT_13': dtype('int64'),
 'FLAG_DOCUMENT_14': dtype('int64'),
 'FLAG_DOCUMENT_15': dtype('int64'),
 'FLAG_DOCUMENT_16': dtype('int64'),
 'FLAG_DOCUMENT_17': dtype('int64'),
 'FLAG_DOCUMENT_18': dtype('int64'),
 'FLAG_DOCUMENT_19': dtype('int64'),
 'FLAG_DOCUMENT_20': dtype('int64'),
 'FLAG_DOCUMENT_21': dtype('int64'),
 'AMT_REQ_CREDIT_BUREAU_HOUR': dtype('float64'),
 'AMT_REQ_CREDIT_BUREAU_DAY': dtype('float64'),
 'AMT_REQ_CREDIT_BUREAU_WEEK': dtype('float64'),
 'AMT_REQ_CREDIT_BUREAU_MON': dtype('float64'),
 'AMT_REQ_CREDIT_BUREAU_QRT': dtype('float64'),
 'AMT_REQ_CREDIT_BUREAU_YEAR': dtype('float64'),
 'NWEEKDAY_PROCESS_START': dtype('float64'),
 'OCCUPATION_TYPE_encoded': dtype('float64'),
 'ORGANIZATION_TYPE_encoded': dtype('float64')}

#### Con el anterior código, se busca visualizar el cambio del tipo de datos, donde por medio de la codificación, se sustituyen los valores tipo 'object' o 'category', transformándose a 'float64', lo cual habilita el comienzo con el proceso de modelado. Esta transformación es crucial porque la mayoría de los modelos de machine learning no pueden trabajar con variables categóricas en formato texto.

## **Escalado de las variables**

In [ ]:
scaler = StandardScaler()
model_scaled = scaler.fit(X_train_ohe)
X_train_scaled = pd.DataFrame(scaler.transform(X_train_ohe), columns = X_train_ohe.columns, index = X_train_ohe.index)
X_test_scaled = pd.DataFrame(scaler.transform(X_test_ohe), columns = X_test_ohe.columns, index = X_test_ohe.index)

#### Una vez que presentamos únicamente variables numéricas se realiza el escalado, el cual nos garantiza que las variables sean tratadas de manera equitativa por los modelos de predicción sensibles a la magnitud, previniendo que las variables con altos rangos dominen el entrenamiento y permita que el modelo aproveche toda la información disponible de manera equilibrada.

## **Guardar CSV**

In [18]:
X_train_scaled.to_csv('... /data/X_train.csv')
X_test_scaled.to_csv('... /data/X_test.csv')

y_train.to_csv('... /data/y_train.csv')
y_test.to_csv('... /data/y_test.csv')

## **Conclusiones**

#### Con el fin de elegir las técnicas de preprocesamiento adecuadas para los datos, es esencial conocer su naturaleza. A partir de este conocimiento, se puede realizar un mejor escalado y codificación, lo que facilita la adaptación de los datos a los modelos de predicción, mejorando su rendimiento y obteniendo resultados más precisos y confiables. Un manejo inapropiado de estos procesos puede conducir a un sobreajuste (overfitting) o a un desempeño deficiente, afectando negativamente la capacidad del modelo para generalizar a nuevos datos. Además, la elección de las técnicas de preprocesamiento puede influir significativamente en el tiempo de entrenamiento y la eficiencia computacional, lo que debe ser considerado para proyectos a gran escala.